In [1]:
#argument
def my_function(fname):
    print(fname+ " Refsnes")
my_function("Email")
my_function("Tonias")
my_function("Linus")

Email Refsnes
Tonias Refsnes
Linus Refsnes

In [2]:
#number of argument
def my_function(fname,lname):
    print(fname+" "+lname)
my_function("Email","Refsnes")

Email Refsnes

In [3]:
#Arbitary argument *args
def my_function(*kids):
    print("The youngest child is "+kids[2])

my_function("Email","Tonias","Linus")

The youngest child is Linus

In [1]:
#keyword arguments
def my_function(child3,child2,child1):
    print("The youngest child is " + child2)
my_function(child1="Email", child2="Tonia",child3="Linus")

The youngest child is Tonia

In [5]:
#Arbitary keywords argument *Kwargs
def my_function(**kid):
    print("His last name is " + kid["lname"])
    
my_function(fname="Tobias",lname="Refsnes")

His last name is Refsnes

In [6]:
#Default parameter values
def my_function(country="Norway"):
    print("I am from " + country)
my_function("sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from sweden
I am from India
I am from Norway
I am from Brazil

In [8]:
#Passing the list as an argument
def my_function(food):
    for x in food:
        print(x)
fruits=["apple","banana","cherry"]
my_function(fruits)

apple
banana
cherry

In [9]:
#Return value
def my_function(x):
    return 5*x
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [10]:
#Positional-only argument
def my_function(x, /):
    print(x)
my_function(3)

3

In [11]:
def my_function(x):
    print(x)
my_function(x=3)

3

In [13]:
#keywords only arguments
def my_function(*,x):
    print(x)
my_function(x=3)

3

In [14]:
def my_function(x):
    print(x)
my_function(x=3)

3

In [15]:
#combine positional-only and keywrod-only
def my_function(a,b,/,*,c,d):
    print(a+b+c+d)
my_function(5,6,c=7,d=8)

26

In [18]:
#Recursion
def tri_recursion(k):
    if(k>0):
        result = k+tri_recursion(k-1)
        print(result)
    else:
        result=0
    return result
print("Recursion examples results:")
tri_recursion(7)

Recursion examples results:
1
3
6
10
15
21
28

28